@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body
{
    height: 100%;
}

*,::after,::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* for test */
.wrapper
{
    width: 1200px;
    margin: 100px auto;
}

@media(max-width:1250px)
{
    .wrapper
    {
        width:95%;
    }
}
/* for test */

.levus-touch-slider
{
    overflow: hidden;
}

.levus-touch-slider .slides
{
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.levus-touch-slider .slide
{
    width: 100%;
    transform: translateX(0);
    transition: .5s;

    position: absolute;
    top:0;
    left:0;
}

.levus-touch-slider .slide picture
{
    width: 100%;
}

.levus-touch-slider .slide img
{
    width: 100%;
    height: auto;
    /* swipe */
    transform: scale(1);
    transition: .5s;
}
/* swipe */
.levus-touch-slider .slide.grabbing
{
    cursor: grabbing;
    
}

/* тільки на десктопі */
@media(min-width:776px)
{/* swipe */
    .levus-touch-slider .slide.grabbing img
    {
        transform: scale(0.99);
    }
}